
<html>
    <head>
          <title>Csurf Middleware</title>
    </head>
    <body>
        <form action="http://localhost:5555/secret-stuff" method="POST">
            <input type="hidden" name="csrfToken"
                value="59d4104f51a4232463407d90fe3b31afb3c3dc25fd30d29067e9ddd7c39e4afef80f604c259556bda5a733e8899eb876a5567b1296c46dd4d12bdbf46f63b43d07a389a6c2273c2d86a643afdde774bee03bbdf392666f6dade1cb7d4c9e9338b9d5ff87bad2322a662f449768280dee52ce38448aa2f158ce8bdd1c61829c20">
           <input type="submit" value="Submit">
        </form>
    </body>
    </html>